## PROCESO DE ETL

In [1]:
#Importacion de librerias a utilizar

import pandas as pd

In [2]:
#Se realiza la ingesta de datos
amazon_df =pd.read_csv('Datasets/amazon_prime_titles-score.csv')
disney_df=pd.read_csv('Datasets/disney_plus_titles-score.csv')
hulu_df = pd.read_csv('Datasets/hulu_titles-score (2).csv')
netflix_df = pd.read_csv('Datasets/netflix_titles-score.csv')

## ANALISIS EXPLOTARATORIO DE LOS DATOS

In [3]:
# Primera exploracion de los datos a traves de las funciones head() e info()
# Tambien buscamos los valores faltantes de cada columna
amazon_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,99
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,37
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,20
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",27
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,75

In [4]:
amazon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
 12  score         9668 non-null   int64
dtypes: int64(2), object(11)
memory usage: 982.0+ KB

In [5]:
#Comprobacion de show_id unicos
print(amazon_df.show_id.unique)

# 9668 es igual a la cantidad de registros, por lo tanto no existen duplicados

<bound method Series.unique of 0          s1
1          s2
2          s3
3          s4
4          s5
        ...
9663    s9664
9664    s9665
9665    s9666
9666    s9667
9667    s9668
Name: show_id, Length: 9668, dtype: object>

In [6]:
(amazon_df.show_id.unique())

array(['s1', 's2', 's3', ..., 's9666', 's9667', 's9668'], dtype=object)

In [7]:
disney_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,100
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,17
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,92
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!",35
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...,11

In [8]:
disney_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
 12  score         1450 non-null   int64
dtypes: int64(2), object(11)
memory usage: 147.4+ KB

In [9]:
hulu_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,48
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",8
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,8
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...,33
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...,24

In [10]:
hulu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
 12  score         3073 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 312.2+ KB

In [11]:
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",29
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",86
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,75
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",49
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,92

In [12]:
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
 12  score         8807 non-null   int64
dtypes: int64(2), object(11)
memory usage: 894.6+ KB

# -----------------------------------------------------------------------------

Transformaciones requeridas:
- Generar campo id (Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = as123))
- Los valores nulos del campo rating deberán reemplazarse por el string “G” (corresponde al maturity rating: “general for all audiences”
- De haber fechas, deberán tener el formato AAAA-mm-dd
- Los campos de texto deberán estar en minúsculas, sin excepciones
- El campo duration debe convertirse en dos campos: duration_int y duration_type. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

# -----------------------------------------------------------------------------

In [13]:
#Genaración del campo ID
amazon_df['ID'] = 'a' + amazon_df['show_id']
disney_df['ID'] = 'd' + disney_df['show_id']
hulu_df['ID'] = 'h' + hulu_df['show_id']
netflix_df['ID'] = 'n' + netflix_df['show_id']

In [14]:
# Reemplazo valores nulos del campo Rating por "g"
amazon_df["rating"].fillna(value ="g", inplace = True)
disney_df["rating"].fillna(value ="g", inplace = True)
hulu_df["rating"].fillna(value ="g", inplace = True)
netflix_df["rating"].fillna(value ="g", inplace = True)

In [15]:
#Conversión de date_added al formato adecuado (AAAA-mm-dd)
amazon_df["date_added"] = pd.to_datetime(amazon_df.date_added)
disney_df["date_added"] = pd.to_datetime(disney_df.date_added)
hulu_df["date_added"] = pd.to_datetime(hulu_df.date_added)
netflix_df["date_added"] = pd.to_datetime(netflix_df.date_added)

In [16]:
#Conversión de campos de texto a minuscula utilizando el metodo "applymap"
amazon_df = amazon_df.applymap(lambda s: s.lower() if type(s) == str else s)
disney_df = disney_df.applymap(lambda s: s.lower() if type(s) == str else s)
hulu_df = hulu_df.applymap(lambda s: s.lower() if type(s) == str else s)
netflix_df = netflix_df.applymap(lambda s: s.lower() if type(s) == str else s)

In [17]:
#Separación de columna "duration" en dos ("duration_int" y "duration_type")
amazon_df["duration_int"] = amazon_df["duration"].str.split(" ").str.get(0)
amazon_df["duration_type"] = amazon_df["duration"].str.split(" ").str.get(1)
disney_df["duration_int"] = disney_df["duration"].str.split(" ").str.get(0)
disney_df["duration_type"] = disney_df["duration"].str.split(" ").str.get(1)
hulu_df["duration_int"] = hulu_df["duration"].str.split(" ").str.get(0)
hulu_df["duration_type"] = hulu_df["duration"].str.split(" ").str.get(1)
netflix_df["duration_int"] = netflix_df["duration"].str.split(" ").str.get(0)
netflix_df["duration_type"] = netflix_df["duration"].str.split(" ").str.get(1)

In [18]:
amazon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        9668 non-null   object
 1   type           9668 non-null   object
 2   title          9668 non-null   object
 3   director       7586 non-null   object
 4   cast           8435 non-null   object
 5   country        672 non-null    object
 6   date_added     155 non-null    datetime64[ns]
 7   release_year   9668 non-null   int64
 8   rating         9668 non-null   object
 9   duration       9668 non-null   object
 10  listed_in      9668 non-null   object
 11  description    9668 non-null   object
 12  score          9668 non-null   int64
 13  ID             9668 non-null   object
 14  duration_int   9668 non-null   object
 15  duration_type  9668 non-null   object
dtypes: datetime64[ns](1), int64(2), object(13)
memory usage: 1.2+ MB

In [19]:
#En nueva columna "duration_type" unificar season y seasons en "season":
amazon_df["duration_type"] = amazon_df["duration_type"].replace(["Seasons", "seasons"], "season")
disney_df["duration_type"] = disney_df["duration_type"].replace(["Seasons", "seasons"], "season")
hulu_df["duration_type"] = hulu_df["duration_type"].replace(["Seasons", "seasons"], "season")
netflix_df["duration_type"] = netflix_df["duration_type"].replace(["Seasons", "seasons"], "season")

In [20]:
#Unificar 4 plataformas a través de la función “concat” en un dataframe único "general_df", facilitando el desarrollo de las consultas
general_df = pd.concat([amazon_df, disney_df, hulu_df, netflix_df])

In [21]:
#Análisis del dataset final: 
general_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,ID,duration_int,duration_type
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,99,as1,113,min
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,37,as2,110,min
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,20,as3,74,min
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",27,as4,69,min
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,75,as5,45,min

In [22]:
general_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        22998 non-null  object
 1   type           22998 non-null  object
 2   title          22998 non-null  object
 3   director       14739 non-null  object
 4   cast           17677 non-null  object
 5   country        11499 non-null  object
 6   date_added     13444 non-null  datetime64[ns]
 7   release_year   22998 non-null  int64
 8   rating         22998 non-null  object
 9   duration       22516 non-null  object
 10  listed_in      22998 non-null  object
 11  description    22994 non-null  object
 12  score          22998 non-null  int64
 13  ID             22998 non-null  object
 14  duration_int   22516 non-null  object
 15  duration_type  22516 non-null  object
dtypes: datetime64[ns](1), int64(2), object(13)
memory usage: 3.0+ MB

In [23]:
# Cambio tipo de dato "duration_int" a integer
general_df["duration_int"] = general_df["duration_int"].astype("Int64")

In [24]:
#Exporto el CSV final con todas las transformaciones realizadas
general_df.to_csv('Datasets\plataformas.csv', index=False)